:root {
  --no-of-sqs: 10;
  --sq-row-break: 10;
  --sq-size: 30px;
  --sq-margin: 1px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#square-frame {
  display: grid;
  grid-template-columns: repeat(var(--sq-row-break), var(--sq-size));
  gap: var(--sq-margin);
}

#square-frame > *[class|=sq] {
  background-color: aliceblue;
  color: black;
  font-size: 11px;
  width: var(--sq-size, 30px);
  height: var(--sq-size, 30px);

  display: flex;
  justify-content: center;
  align-items: center;
}