:root {
  --no-of-sqs: 10;
  --sq-size: 30px;
  --sq-margin: 1px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  color: whitesmoke;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#square-frame > *[class|=sq] {
  background-color: aliceblue;
  color: black;
  font-size: 8px;
  width: var(--sq-size, 30px);
  height: var(--sq-size, 30px);

  display: flex;
  justify-content: center;
  align-items: center;

  margin: var(--sq-margin, 1px);
}