:root {
  --marked-background: antiquewhite;
  --marked-color: black;
}

[class|=sq].marked {
    margin: -5px;
    background-color: var(--marked-background);
    color: var(--marked-color);
    font-weight: bold;
}

.dim {
  opacity: 0.3  ;
}