:root {
  --clicked-background: rgb(177, 177, 249);
  --highlight-background: antiquewhite;
  --highlight-color: black;
  --traceBackground: rgb(210, 210, 210);
}

[class|=sq].highlight {
    margin: -5px;
    background-color: var(--highlight-background);
    color: var(--highlight-color);
    /*font-weight: bold;*/
}

[class|=sq].clicked {
  background-color: var(--clicked-background);
}

.dim {
  opacity: 0.3;
  cursor: none;
  pointer-events: none;
}

.marked {
  text-decoration: line-through;
}

.temp-identifier {
  color: rgb(255, 255, 255);
}

.tracer {
  background-color: var(--traceBackground);
}